@import "../../styles/breakpoints";
@import "../../styles/mixins";

.side-elements {
  display: none;
}

@media (min-width: 1700px) {
  .side-elements {
    position: fixed;
    top: 500px;
    left: 100px;
    @include flex-col-center;
    gap: 30px;

    .vertical-line {
      height: 200px;
      background-color: rgba(0, 0, 0, 0.3);
      width: 1px;
    }
  }
}
