@import "../../styles/breakpoints";
@import "../../styles/mixins";

.side-elements {
  display: none;
}

@media (min-width: 1700px) {
  .side-elements {
    position: fixed;
    top: 305px;
    left: 5%;
    @include flex-col-center;
    gap: 30px;
    .links {
      transition: 300ms transform;
      font-size: 1.7rem;
      &:hover {
        transform: scale(120%);
      }
    }

    .vertical-line {
      height: 200px;
      width: 1px;
    }
  }
}
