@import "../../styles/breakpoints";
@import "../../styles/mixins";

.footer {
  @include flex-row-center;
  padding: 20px;
}

@media (min-width: $tablet) {
  .footer {
    padding: 25px;
    font-size: 1.1rem;
  }
}

@media (min-width: $laptop) {
  .footer {
  }
}

@media (min-width: $desktop) {
  .footer {
    font-size: 1.2rem;
  }
}
