@import "../../styles/breakpoints";
@import "../../styles/mixins";

.footer {
  margin-top: 30px;
  @include flex-row-center;
  padding: 20px;
}

@media (min-width: $smallTablet) {
  .footer {
    margin-top: 40px;
  }
}

@media (min-width: $tablet) {
  .footer {
    margin-top: 60px;
    padding: 25px;
    font-size: 1.1rem;
  }
}

@media (min-width: $laptop) {
  .footer {
    margin-top: 80px;
  }
}

@media (min-width: $desktop) {
  .footer {
    margin-top: 100px;
    font-size: 1.2rem;
  }
}
