@import "../../../styles/breakpoints";
@import "../../../styles/mixins";

.skills-section {
  width: 100%;
  text-align: center;

  .under-title {
    margin: 10px auto 0;
    max-width: 270px;
    font-size: 1.1rem;
    font-weight: 300;
  }

  .other-skills {
    margin-top: 50px;
    font-size: 1.3rem;
    font-weight: 500;
  }
}

@media (min-width: $smallTablet) {
  .skills-section {
    .under-title {
      max-width: 300px;
      font-size: 1.2rem;
    }

    .other-skills {
      font-size: 1.4rem;
    }
  }
}

@media (min-width: $laptop) {
  .skills-section {
    .under-title {
      max-width: 330px;
      font-size: 1.3rem;
    }

    .other-skills {
      font-size: 1.6rem;
    }
  }
}
