@import "../styles/colors";
@import "../styles/breakpoints";
@import "../styles/fonts";
@import "../styles/mixins";

.button-wrapper {
  display: block;
  cursor: pointer;
  width: 300px;
  @include flex-row-start-center;
  padding: 15px 30px;
  gap: 30px;
  .icon {
    max-width: 25px;
  }

  .button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    font-family: $mono;
  }
}

@media (min-width: $smallTablet) {
  .button-wrapper {
    width: 320px;
    padding: 20px 30px;

    .icon {
      max-width: 30px;
    }

    .button {
      font-size: 1rem;
    }
  }
}

@media (min-width: $tablet) {
  .button-wrapper {
    @include flex-row-center;

    width: 320px;
    padding: 20px 30px;

    .icon {
      max-width: 30px;
    }

    .button {
      font-size: 1rem;
    }
  }
}

@media (min-width: $laptop) {
  .button-wrapper {
    width: 350px;
    padding: 20px 30px;

    .icon {
      max-width: 35px;
    }

    .button {
      font-size: 1.1rem;
    }
  }
}
