@import "../styles/breakpoints";

.section-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 15px;
}

@media (min-width: $smallTablet) {
  .section-title {
    font-size: 1.6rem;
    margin-top: 10px;
  }
}

@media (min-width: $tablet) {
  .section-title {
    font-size: 1.7rem;
    margin-top: 10px;
  }
}

@media (min-width: $laptop) {
  .section-title {
    font-size: 2.1rem;
    margin-top: 20px;
  }
}

@media (min-width: $desktop) {
  .section-title {
    font-size: 3rem;
    margin-top: 10px;
    letter-spacing: 1px;
  }
}
