@import "../../styles/colors";
@import "../../styles/breakpoints";
@import "../../styles/fonts";
@import "../../styles/mixins";

.button-wrapper {
  display: block;
  cursor: pointer;
  width: 300px;
  @include flex-row-start-center;
  padding: 0 30px;
  height: 65px;
  border-radius: 8px;
  gap: 30px;
  .icon {
    max-width: 25px;
  }

  .button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    font-family: $mono;
    cursor: pointer;
  }
}

@media (min-width: $smallTablet) {
  .button-wrapper {
    width: 320px;

    .icon {
      max-width: 30px;
    }

    .button {
      font-size: 1rem;
    }
  }
}

@media (min-width: $tablet) {
  .button-wrapper {
    @include flex-row-center;
    height: 70px;
    width: 320px;

    .icon {
      max-width: 30px;
    }

    .button {
      font-size: 1rem;
    }
  }
}

@media (min-width: $laptop) {
  .button-wrapper {
    width: 350px;
    height: 80px;

    .icon {
      max-width: 35px;
    }

    .button {
      font-size: 1.1rem;
    }
  }
}
