@import "../../styles/breakpoints";
@import "../../styles/mixins";

.contact-section {
  margin-top: 20px;
  padding: 10px 0 20px;
  .contact-wrapper {
    @include flex-col-center;
    text-align: center;

    .under-title {
      font-weight: 300;
      margin-top: 10px;
      max-width: 400px;
    }
    .button-flex {
      margin-top: 20px;
      @include flex-col-center;
      gap: 20px;
      cursor: pointer;
    }
  }
}

@media (min-width: $tablet) {
  .contact-section {
    margin-top: 30px;
    padding: 20px 0 40px;
    .contact-wrapper {
      .under-title {
        max-width: 440px;
        font-size: 1.1rem;
      }

      .button-flex {
        margin-top: 30px;
        @include flex-row-center;
        gap: 20px;
      }
    }
  }
}

@media (min-width: $laptop) {
  .contact-section {
    padding: 25px 0 50px;
    .contact-wrapper {
      .under-title {
        max-width: 480px;
        font-size: 1.2rem;
      }

      .button-flex {
        margin-top: 40px;
        gap: 30px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .contact-section {
    margin-top: 100px;
    padding: 50px 0 80px;
    .contact-wrapper {
      .under-title {
        max-width: 520px;
        font-size: 1.3rem;
      }

      .button-flex {
        gap: 40px;
      }
    }
  }
}
