@import "../../../styles/breakpoints";
@import "../../../styles/mixins";
@import "../../../styles/colors";

.links-area-wrapper {
  position: fixed;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: 300ms all;
  width: 70%;
  height: 100vh;
  z-index: 30;
  @include flex-col-start-start;
  gap: 20px;
  .logo-area {
    width: 100%;
    .logo {
      padding: 30px;
    }
    .divider-line {
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
  .links-wrapper {
    width: 100%;
    .nav-links {
      padding: 25px;
      display: block;
      font-weight: 500;
    }
  }
  .social-links {
    @include flex-row-center;
    gap: 30px;
    padding: 30px;
    font-size: 2rem;
    margin: auto 0;
  }
}

.links-area-wrapper-active {
  transform: translateX(0);
  transition: 300ms all;
}

@media (min-width: $smallTablet) {
  .links-area-wrapper {
    .links-wrapper {
      .nav-links {
        font-size: 1.2rem;
      }
    }
    .social-links {
      font-size: 2.4rem;
    }
  }
}

@media (min-width: $tablet) {
  .links-area-wrapper {
    display: none;
  }

  .links-area-wrapper-active {
    display: none;
  }
}
