@import "../../../styles/breakpoints";
@import "../../../styles/mixins";
@import "../../../styles/colors";

.links-area-wrapper {
  position: absolute;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  left: -20px;
  top: 100px;
  transform: translateX(-100%);
  transition: 300ms all;
  .links-wrapper {
    .nav-links {
      padding: 30px;
      display: block;
    }
    .divider {
      height: 1px;
      width: 100%;
      background-color: $white;
    }
  }
}

.links-area-wrapper-active {
  transform: translateX(35px);
  transition: 300ms all;
}

@media (min-width: $smallTablet) {
  .links-area-wrapper-active {
    transform: translateX(55px);
  }
}

@media (min-width: $tablet) {
  .links-area-wrapper {
    display: none;
  }

  .links-area-wrapper-active {
    display: none;
  }
}
