@import "../../../styles/breakpoints";

.menu-icon-wrapper {
  .menu-icon {
    max-width: 30px;
    cursor: pointer;
    display: block;
  }
}

@media (min-width: $tablet) {
  .menu-icon-wrapper {
    display: none;
    .menu-icon {
      display: none;
    }
  }
}
