@import "../../../styles/breakpoints";

.menu-icon-wrapper {
  .menu-icon {
    font-size: 2rem;
    cursor: pointer;
  }
}

@media (min-width: $tablet) {
  .menu-icon-wrapper {
    display: none;
    .menu-icon {
      display: none;
    }
  }
}
