.app-wrapper {
  min-height: 100vh;
  height: 100%;

  .switch-wrapper {
    margin-top: 50px;
    padding: 5px;
    // border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    min-height: 50px;
    max-width: 120px;
    // display: inline-block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .icons {
      font-size: 3.5rem;
      z-index: 10;
      padding: 10px;
      border-radius: 100%;
      cursor: pointer;
    }
    .sun {
      //   background-color: yellow;
    }
    .moon {
      //   background-color: bisque;
    }
  }
}
