@import "./styles/fonts";
@import "the-new-css-reset/css/reset.css";
@import "./styles/breakpoints";

// Globals
html,
body,
*,
*:before,
*:after {
  font-family: $inter;
  box-sizing: border-box;
}

// Hero inner sections vertical spacing
.spacer {
  margin-top: 50px;
}
@media (min-width: $tablet) {
  .spacer {
    margin-top: 100px;
  }
}
@media (min-width: $laptop) {
  .spacer {
    margin-top: 150px;
  }
}
// Major sections vertical spacing
.section-spacer {
  margin-top: 40px;
}
@media (min-width: $tablet) {
  .section-spacer {
    margin-top: 50px;
  }
}
@media (min-width: $laptop) {
  .section-spacer {
    margin-top: 160px;
  }
}
